/* ProfilePage.css */

.profile-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f7f7f7;
  border: 1px solid #e1e1e1;
  border-radius: 10px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.profile-header {
  text-align: center;
}

.profile-header h1 {
  font-size: 28px;
  color: #333;
  margin-bottom: 10px;
}

.profile-details {
  display: flex;
  align-items: center;
  padding: 20px 0;
}

.profile-avatar img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  border: 4px solid #333;
  
}

.user-info {
  flex: 1;
  padding-left: 20px;
}

.user-info h2 {
  font-size: 24px;
  color: #333;
  margin: 0;
}

.user-info p {
  font-size: 18px;
  color: #666;
  margin: 5px 0;
}

.profile-description {
  padding: 20px 0;
}

.profile-description h3 {
  font-size: 20px;
  color: #333;
  margin-bottom: 10px;
}

.profile-description p {
  font-size: 16px;
  color: #666;
}

.profile-actions {
  text-align: center;
  margin-top: 20px;
}

.edit-profile-button,
.logout-button {
  padding: 10px 20px;
  font-size: 18px;
  background-color: #007BFF;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 0 10px;
}

.logout-button {
  background-color: #FF4500;
}

.edit-profile-button:hover,
.logout-button:hover {
  background-color: #0056b3;
}
